@keyframes taunt {
  0% {
    transform: translateY(-8px) rotate(0deg);
  }
  25% {
    transform: translateY(0px) rotate(-1deg);
  }
  50% {
    transform: translateY(8px) rotate(1deg);
  }
  75% {
    transform: translateY(0px) rotate(-1deg);
  }
  100% {
    transform: translateY(-8px) rotate(0deg);
  }
}

.taunt {
  transform-origin: center;
  animation: taunt 10s ease-in-out infinite;
}
